<!DOCTYPE html>
<html>
<head>
    <title>Accueil Administrateur</title>
</head>
<body>
    <h1>Tableau de bord administrateur</h1>
    <h2>Notifier les entreprises du nouveau courrier</h2>
    <form action="/notify_mail" method="POST">
        <label for="firmsToNotify">Sélectionnez les entreprises à notifier :</label>
        <select name="firmsToNotify" id="firmsToNotify" multiple>
            <% if(users && users.length > 0) { %>
                <% users.forEach(function(user) { %>
                    <option value="<%= user.firm_name %>"><%= user.firm_name %></option>
                <% }); %>
            <% } else { %>
                <option>Aucune entreprise trouvée</option>
            <% } %>
        </select>
        <button type="submit">Notifier les entreprises sélectionnées</button>
    </form>

    <h2>Liste des entreprises</h2>
    <!-- Liste des utilisateurs à générer dynamiquement -->
    <% if(users && users.length > 0) { %>
        <% users.forEach(function(user) { %>
            <div>
                <p>Nom de l'entreprise: <%= user.firm_name %></p>
                <!-- D'autres détails de l'utilisateur ici -->
                <!-- Bouton pour éditer l'utilisateur -->
                <form action="/users/<%= user.firm_name %>/edit" method="GET">
                    <button type="submit">Éditer</button>
                </form>
            </div>
        <% }); %>
    <% } else { %>
        <p>Aucun utilisateur trouvé.</p>
    <% } %>

    <a href="/registerEnter">Créer un nouvel utilisateur</a>
</body>
</html>

    
