<!DOCTYPE html>
<html>
<head>
    <title>Page Utilisateur</title>
</head>
<body>
    <h1>Bienvenue, <%= user.firm_name %>!</h1>
    <% if(user.has_mail) { %>
        <p>Vous avez du courrier en attente!</p>
        <form action="/users/<%= user.firm_name %>/reception" method="POST">
            <button type="submit">Accuser réception du courrier</button>
        </form>
    <% } else { %>
        <p>Aucun courrier en attente.</p>
    <% } %>
</body>
</html>

